{
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrderSortSpecifiers": true,
  "printWidth": 90,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "importOrderSeparation": true,
  "importOrder": [
    "^[components]",
    "^[constants]",
    "^[hooks]",
    "^[styles]",
    "^[types]",
    "^@(.*)$",
    "^[./]"
  ]
}
